<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Features 2</title>
  <style>
    html {
      --spacer: 10px;
    }

    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
    }

    main {
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      padding: var(--spacer);
    }

    /* This selects the flex items */
    main>div {
      /* min-height: 100px; */
      /* min-width: 100px; */
      background-color: orange;

      width: calc(100% / 3 - 2 * var(--spacer));
      margin: var(--spacer);
    }
  </style>
</head>

<body>
  <main>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </main>
</body>

</html>